<%= link_to 'Home', root_path %>

<section class="cover">
    <%=	 image_tag @project.cover_photo.url %>
</section>

<section>
  <article class="project_title">
    <h1><%=	@project.title %></h1>
  </article>
  <article class="project_description">
    <%= @project.description %>
  </article>
</section>
<%=	 image_tag @project.image_1.url %>
<%=	 image_tag @project.image_2.url %>
<%=	 image_tag @project.image_3.url %>
<%=	 image_tag @project.image_4.url %>