<h1><%=	@project.title %></h1>

<%= link_to 'Home', root_path %>

<%= @project.description %>

<%=	 image_tag @project.cover_photo.url %>
<%=	 image_tag @project.image_1.url %>
<%=	 image_tag @project.image_2.url %>
<%=	 image_tag @project.image_3.url %>
<%=	 image_tag @project.image_4.url %>