<%#= link_to 'Home', root_path %>

<section class="ind_project_image">
  <%= image_tag @project.cover_photo.url, class: 'style_image' %>
</section>

<section class='project_info_space'>
  <article class="project_title">
    <h1><%= @project.title %></h1>
  </article>
  <article class="project_info_right">
    <article class='project_description'>
      <%= @project.description %>
    </article>
  </article>
</section>
<section class='image_padding_show'></section>
<section class='ind_project_image'><%= image_tag @project.image_1.url, class: 'style_image' %></section>
<section class='image_padding_show'></section>
<section class='ind_project_image'><%= image_tag @project.image_2.url, class: 'style_image' %></section>
<section class='image_padding_show'></section>
<section class='ind_project_image'><%= image_tag @project.image_3.url, class: 'style_image' %></section>

<section class='ind_project_padding'>
  <section class='home_button'></section>
</section>