<!DOCTYPE html>
<html>
<head>
  <title>MattMitchellPortfolio</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:bold">
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <section class="nav_left">
    <section class='logo_container'>
      <article class="logo">
        <%#= image_tag 'whitelogo.png' %>
      </article>
    </section>
  </section>
  <section class="nav_middle">
  </section>
  <section class="nav_right">
    <nav>
      <ul>
        <li><%= link_to 'Work', root_path %></li>
        <li><a href="http://mmitchelldesign.tumblr.com/">Blog</a> </li>
        <li><a href=<%= root_path %>"about">About</a></li>
      </ul>
    </nav>
  </section>
</header>

<!--<p class="notice"><%#= notice %></p>-->

<!--<p class="alert"><%#= alert %></p>-->

<section class="yield">
  <%= yield %>
</section>

<footer>

  <section class='footer_split'>
    <ul>
      <li class='behance'><a href='https://www.behance.net/meetchell'> </a></li>
      <li class='dribble'><a href='https://dribbble.com/mattMEETCHELL'> </a></li>
      <li class='linkedin'><a href='http://www.linkedin.com/pub/matthew-mitchell/38/a29/954'> </a></li>
      <li class='twitter'><a href='https://twitter.com/mattMEETCHELL'> </a></li>
    </ul>
    <section>
      <p> Matt Mitchell 2014</p>
    </section>
  </section>
</footer>

</body>
</html>
