<!DOCTYPE html>
<html>
<head>
  <title>MattMitchellPortfolio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <header>
        <nav>
          <section class="nav_left">

          </section>
          <section class="nav_right">
            <article class>

            </article>
          </section>
        </nav>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <section class="yield">
      <%= yield %>
    </section>

    <footer>

    </footer>

</body>
</html>
