<!DOCTYPE html>
<html>
<head>
  <title>MattMitchellPortfolio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
          <section class="nav_left">
            <article class="logo">
              <%= image_tag 'whitelogo.png'  %>
            </article>
          </section>
          <section class="nav_middle">
          </section>
          <section class="nav_right">
            <!--<article>-->
            <nav>
                <ul>
                  <li><%= link_to 'Work', projects_path %></li>
                  <li><%= link_to 'Blog', blogs_path %></li>
                  <li><a href="#">About</a></li>
                </ul>
            </nav>
            <!--</article>-->
          </section>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <section class="yield">
      <%= yield %>
    </section>

    <footer>
      <article>

      </article>

    </footer>

</body>
</html>
